.scrollingMenuPanel {
    margin-top: 25px;
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;
}

.scrollingMenuTitle{
        background-color: var(--primaryColor);
        border-radius: 5px;
        padding : 5px;
        padding-right: 30px;
        color: var(--tertiaryColor);
        font-size: 18px;
        cursor: pointer;
        display: flex;
        justify-content: space-between;
}

.scrollingMenuContent {
    background-color: var(--backgroundGrey);
    padding: 20px;
    font-size: 18px;
    border-radius: 0px 0px 5px 5px;              
}

.visible {
    display: block;
}

.hidden {
    display: none;
}

