.housing {
    display: flex;
    gap : 20px;
    width: 85%;
    margin: auto;
    min-height: 17vh;
    @media screen and (width <= 768px) {
        flex-direction: column;
        width: 87%;
        gap : 0px;
        margin: 0px auto;
        min-height: auto;
    }
}