.housingCard {
    background: linear-gradient(to top, var(--secondaryColor),var(--primaryColor));
    border-radius: 15px;    
    display: flex;
    flex-direction: column;
    justify-content: flex-end;   
    height: 350px;    
    text-decoration: none;
    position: relative;
}
   
.imgHousing {
        width: 100%;
        height: 100%;        
        object-fit: cover;
        border-radius: 15px;
        filter: brightness(0.8);
}  

.subtitleHousing {
        width: 40%;
        text-align: left;
        margin-left: 15px;
        margin-bottom: 15px;
        color:var(--tertiaryColor);
        position: absolute;
        font-size: 18px;        
}