.header {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 50px auto;
    @media screen and (width <= 768px) {
        margin: 20px auto;
    }
    &ContainerLogo {
        width: 100%;
    }
    &Logo {
        width: 150px;
    }
}