.footer {
    width: 100%;
    height: 150px;
    display: flex;
    flex-direction: column;
    background-color: black;
    justify-content: center;
    align-items: center;
    @media screen and (width <= 768px) { 
        height: 200px;
    }
    &Copyright {
        color: white;
    }
    &Logo {
        margin-top: 30px;
        @media screen and (max-width: 768px) {
            margin-top: 0px;
       }
    }
}


