@font-face {
    font-family: "Raleway";
    src: url("./assets/fonts/Raleway/Raleway-VariableFont_wght.ttf");
  }

@font-face {
    font-family: "MontSerrat";
    src: url("./assets/fonts/Montserrat/Montserrat-VariableFont_wght.ttf");
}

:root { 
    --primaryColor:#FF6060;
    --secondaryColor:#863535;
    --tertiaryColor:white;
    --backgroundGrey:#F7F7F7;
    --backgroundFooter:black;
    --badgeColor:#C4C4C4;
    --starDefault:#e3e3e3;
}

* {
    font-family: "Raleway", "MontSerrat", Arial;
    text-decoration: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
}


body {    
    margin: auto;
    max-width: 1440px; 
}

#root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
